:root {
    --text-color: #424242;
    --backgoround-color: #d1c4e9;
    --white-color: #ffffff;
    --google-fonts: 'Orelega One', cursive;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

h2 {
    font-family: var(--google-fonts);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

#btn {
    margin-top: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgoround-color);
    padding: 8px 12px;
    padding-bottom: 0;
}

.home {
    font-size: 24px;
    color: green;
    padding-bottom: 15px;
}

.home i {
    color: cornflowerblue;
    font-size: 24px;
}

.menu {
    display: flex;
    list-style: none;
    padding-left: none;
}

.menu li {
    padding: 8px 12px;
}

.menu li:hover {
    background-color: rgb(233, 181, 68);
    border-radius: 4px;
}

.icon {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px ;
    color: lightblue;
}

@media screen and (max-width: 760px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menu li {
        width: 100%;
        text-align: center;
        display: none;
    }

    .menu {
        display: block;
    }

    .navbar__menu.active {
        display: flex;
    }

    #main {
        display: flex;
        align-items: center;
        padding-right: none;
    }

    .icon {
        display: block;
    }

    .menu.active {
        display: flex;
    }
}

li {
    font-weight: 600;
}

.search-box,
.close-icon,
.search-wrapper {
    position: relative;
    padding: 10px;
}

.search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
}

.search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
}

.close-icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

.close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index: 1;
    right: 35px;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
}

.search-box:not(:valid)~.close-icon {
    display: none;
}

h1 {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

#main
#list {
    text-align: center;
    margin-top: 0 auto;
    background-color: #fff;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 0 auto;
}

#option li:hover {
    background-color: rgb(241, 204, 255);
}

body {
    background-color: #fff0f5;
}